<div class="media">
    <div class="media__image">
        <svg class="icon icon--primary">
            <use xlink:href="images/sprite.svg#chevron"></use>
        </svg>
    </div>
    <div class="media__body">
        <h3 class="media__title">Easy Start & Managed Updates</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime error distinctio quaerat, deleniti
            reiciendis dolorum neque quia minus in. Blanditiis aliquam adipisci placeat ipsum veniam, illum possimus
            at, excepturi ducimus voluptas officiis nam minima praesentium, id soluta mollitia atque architecto vel
            modi. Aspernatur, veniam dolor architecto voluptatibus nobis fugit est.</p>
    </div>
</div>